.hero-top {
	display: grid;
	padding-bottom: 100px;
	.article {
		aspect-ratio: 5/4;
		padding: 2rem 0 0 2rem;
		position: relative;
		background-size: cover;
		background-position: center;
	}
	.article::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #0004;
		z-index: -1;
	}
	.article:nth-of-type(1) {
		background-image: url("../img/bg-img/1.jpg");
		z-index: -1;
	}
	.article:nth-of-type(2) {
		display: none;
		background-image: url("../img/bg-img/2.jpg");
		z-index: -1;
	}
	.article:nth-of-type(3) {
		display: none;
		background-image: url("../img/bg-img/3.jpg");
		z-index: -1;
	}
	.article__vignette{
		padding: 2px 5px;
	}
	.article__title {
		transition: .3s all ease-in-out;
		color: #fff;
	}
	.article__date {
		color: #fff;
	}
	.article__title:hover {
		color: #ff0303;
	}
	@media screen and (min-width:992px){
		grid-template-columns: repeat(3,1fr);
		.article:nth-of-type(2) {
			display: block;
		}
		.article:nth-of-type(3) {
			display: block;
		}
	}
}

.main_article {
	.article__vignette {
		font-size: .9rem;
		font-weight: bold;
	}
	.article__title {
		font-weight: normal;
		color: #3a3a3a;
	}
	.article__date {
		color: #838383;
		font-size: 1rem;
	}
	img {
		margin: 2.5rem 0;
	}
	p {
		color: #9f9f9f;
	}
	.article__icons{
		display: flex;
		gap: 1.5rem;
		.icon {
			font-size: 1.2rem;
			color: #d3d3d3;
			transition: .3s all ease-in-out;
		}
		.icon:hover {
			color: #ff0303;
		}
	}
	@media screen and (min-width:992px) {
		.article__title {
			font-size: 3rem;
		}
	}
}

.section-title {
	font-weight: normal;
	color: #3a3a3a;
	font-size: 1.2rem;
	text-transform: uppercase;
	border-bottom: solid 1px #9f9f9f;
	margin: 0 0 30px;
	padding: 0 0 20px;
}

.today-article {
	padding: 100px 0 50px;
	.image{
		width: 455px;
		aspect-ratio: 1/1;
		margin: 2rem 0;
		background-size: cover;
	}
	article:nth-of-type(1) .image {
		background-image: url("../img/blog-img/2.jpg");
	}
	article:nth-of-type(2) .image {
		background-image: url("../img/blog-img/3.jpg");
	}
	.article__vignette{
		font-weight: bold;
	}
	.article__title{
		font-size: 1.8rem;
		font-weight: normal;
	}
	.article__date {
		font-size: 0.8rem;
		color: #838383;
		margin-bottom: 8px;
	}
	.article__comment {
		font-size: 0.7rem;
		text-transform: uppercase;
		font-weight: bold;
	}
	p {
		color: #9f9f9f;
		font-size: .9rem;
		line-height: 1.5rem;
	}
	@media screen and (min-width:992px) {
		.image {
			width: 264px;
			margin: 0;
		}
		.article {
			display: flex;
			justify-content: space-between;
			margin: 1rem 0;
		}
		.today-article__txt {
			width: 65%;
		}
	}
}

.breaking-news {
	.black_bgc{
		background-color: #0005;
	}
	.article {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 455px;
		aspect-ratio: 1/1;
		margin: 2rem 0;
		position: relative;
		background-size: cover;
	}
	.article:nth-of-type(1){
		background-image: url(../img/blog-img/bn-1.jpg);
		z-index: -2;
	}
	.article:nth-of-type(2){
		background-image: url(../img/blog-img/bn-2.jpg);
		z-index: -2;
	}
	.article__vignette {
		display: flex;
		width: 50%;
	}
	.article__title{
		max-width: 368px;
		font-size: 1.1rem;
		color: #fff;
		font-weight: normal;
		padding-left: 1rem;
	}
	.article__title::after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 368px;
		height: 100px;
		z-index: -1;
		background: linear-gradient(180deg,rgba(42, 123, 155, 0) 0%, rgba(0, 0, 0, 1) 100%);
	}
	@media screen and (min-width:992px) {
		.article {
			width: 255px;
		}
		.article__vignette {
			font-size: .8rem;
		}
	}
}

.dont-miss {
	.article {
		display: flex;
		gap: 1rem;
		margin: 0 0 30px;
	}
	.img {
		width: 70px;
		aspect-ratio: 1/1;
		background-size: cover;
	}
	.article:nth-of-type(1) .img{
		background-image: url(../img/blog-img/dm-1.jpg);
	}
	.article:nth-of-type(2) .img{
		background-image: url(../img/blog-img/dm-2.jpg);
	}
	.article:nth-of-type(3) .img{
		background-image: url(../img/blog-img/dm-3.jpg);
	}
	.article__title {
		font-size: 0.9rem;
		margin: 0 0 5px;
		font-weight: normal;
	}
	.article__date {
		font-size: 0.8em;
		color: #838383;
	}
}

.subscribe {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	[type="email"] {
		background-color: #f5f5f5;
		border: none;
		padding: .8rem;
		font-size: .8rem;
	}
	[type="submit"] {
		background-color: #ff0303;
		padding: .8rem;
		text-transform: uppercase;
		color: #fff;
		border: none;
		font-size: .8rem;
	}
}

.middle-article {
	.article {
		margin-top: 2rem;
		&__title-separator{
			margin-top: 1rem;
			border-top: solid 1px #d3d3d3;
		}
	}
	img {
		margin-bottom: 1rem;
	}
	.article__title {
		font-size: 1.3rem;
		font-weight: normal;
	}
	.article__date {
		font-size: .9rem;
		color: #838383;
	}
	@media screen and (min-width:992px) {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
}




@media screen and (min-width:992px) {
	.top-article {
		display: grid;
		grid-template-columns: 5fr 1fr;
		gap: 2rem;
	}
}
