body {
	font-family: "Roboto", sans-serif;
	// font-family: "PT Serif", serif;
}

a {
	text-decoration: none;
	color: #000;
}

.separator {
	border-top: solid 1px #c3c3c3;
}

.wrapper{
	max-width: 1140px;
	margin: auto;
	padding: 0 15px;
}

.article {
	&__vignette {
		text-transform: uppercase;
		color: #fff;
		background-color: #ff0303;
		font-size: .9rem;
		padding: 5px 10px;
	}
	&__title {
		font-family: "PT Serif", serif;
		margin: 15px 0;
	}
	&__date {
		margin: 0;
		font-style: italic;
		font-weight: normal;
	}
}

.section-title {
	font-weight: normal;
	color: #3a3a3a;
	font-size: 1.2rem;
	text-transform: uppercase;
	border-bottom: solid 1px #9f9f9f;
	margin: 0 0 30px;
	padding: 0 0 20px;
}

.about-us-main {
	color: #3a3a3a;
}

.contact-main {
	color: #3a3a3a;
}
